<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/lib/boostrap5/dist/css/boostrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquete Web :: Obrigado</title>
</head>
<body>
   <div class="container">
    <h1>Enquete Web</h1>
    <h2>Obrigado</h2>
    <br>
    <a asp-action="Index" class="btn btn-primary">Voltar ao Inicio</a>
    <a asp-action="Resultado" class="btn btn-primary">Ver Resultado Parcial</a>
   </div>
</body>
</html>