@model Usuario
@{
    ViewBag.Subtitle = "Exclusao";
}


<h1 class="text-primary">Exclusao de Usuarios</h1>
<hr>
<h4>Deseja realmente excluir o usuario <span class="text-danger">@Model.Nome</span> </h4>
<form method="POST" class="w-25">
    <input type="hidden" asp-for="IdUsuario">
    <div class="mt-3">
        <a asp-action="Usuarios" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>