@{
    ViewBag.Subtitle = "Pagina Principal";
}
<h1 class="text-primary">CRUD com usuarios</h1>
<hr>
<h3 class="text-info">Usuarios Cadastrados: @ViewBag.QTDUsuarios</h3>
<hr>
<a href="Home/Usuarios" class="btn btn-primary">Usuarios</a>

@section Footer{
    <span class="text-info">Pagina Principal</span>
}
